/*
Font: 		Decour Cnd
Style: 		Regular Italic
URL: 		https://www.youworkforthem.com/font/T5750/decour
Foundry: 	LatinoType
Foundry: 	https://www.youworkforthem.com/designer/220/latinotype
Copyright:	Jorge Cisterna
Version: 	17
Created:	June 03, 2015
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'DecourCnd-RegularItalic';
	src: url('decour-cnd-regular-italic.eot');
	src: url('decour-cnd-regular-italic.eot?#iefix') format('embedded-opentype'),
             url('decour-cnd-regular-italic.woff2') format('woff2'),
	     url('decour-cnd-regular-italic.woff') format('woff'),
	     url('decour-cnd-regular-italic.ttf') format('truetype'),
	     url('decour-cnd-regular-italic.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
